.bonus {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__container {
    border-radius: 15px;
    background-color: #f7f8fd;
    position: relative;
  }
}

.bonus-signboard {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 221px;
  &__text {
    position: absolute;
    width: 87px;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

.bonus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 16px;
  border-bottom: 2px solid #ebecf5;
  &__company {
    display: flex;
    align-items: center;
  }
  &__assessment {
    max-width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__number {
    margin-right: 14px;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(180deg, #ffc736 0%, #ff630c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__img-fire {
    max-width: 25px;
    margin-right: 10px;
  }
  &__text {
    color: #313446;
    font-size: 18px;
    font-weight: 500;
  }
  &__assessment {
    display: flex;
    align-items: flex-end;
  }
  &__numbers {
    color: #313446;
    line-height: 1;
    font-size: 17px;
    font-weight: 500;
    margin-right: 10px;
  }
  &__block {
    display: flex;
  }
}

.bonus-content {
  padding: 16px;
  display: flex;
  &__case {
    display: flex;
    gap: 18px;
    margin-right: 33px;
  }
  &__logo {
    display: block;
    max-width: 148px;
    padding: 42px 18px;
    border-radius: 15px;
    background: linear-gradient(148deg, #313446 19.06%, #070b1f 97.93%);
  }
  &__logo-img {
    max-width: 112px;
  }
  &__bonus {
    max-width: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__img-present {
    max-width: 17px;
  }
  &__title {
    color: #72768d;
    font-size: 14px;
    font-weight: 500;
  }
  &__subtitle {
    color: #313446;
    font-size: 24px;
    font-weight: 700;
  }
  &__text {
    line-height: 20px;
  }
  &__offers {
    max-width: 186px;
    margin-right: 94px;
  }
  &__payments {
    margin-right: 74px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__img-rocket {
    max-width: 17px;
  }
  &__buttons {
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__btn {
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    background-color: #53af1b;
    padding: 18px 48px;
    &--grey {
      background-color: #ebecf5;
      color: #6f728c;
    }
  }
}

.bonus-content-payments {
  max-width: 272px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    width: 53px;
    height: 34px;
    border-radius: 5px;
    background: rgba(235, 236, 245, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    max-width: 33px;
  }
  &__info {
    color: $color-main;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: inherit;
    &::before,
    &::after {
      content: "";
      width: 86px;
      height: 2px;
      flex-shrink: 0;
      background-color: #a6aac3;
    }
  }
  &__img-check {
    max-width: 15px;
  }
}

.bonus-accordion {
  padding: 15px;
  background-color: #f1f3fd;
  display: flex;
  &__text {
    max-width: 446px;
    line-height: 25px;
    margin-right: 20px;
  }
  &__list {
    border-radius: 15px;
    border: 2px solid #ebecf5;
    padding: 15px;
    max-width: 404px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--margin {
      margin-right: 16px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__img {
    max-width: 25px;
  }
}
