* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-main;
  background-color: $main-background;
}

.container {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
}
