@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/AnyConv.com__Montserrat-Medium.woff")
      format("woff"),
    url("../fonts/Montserrat/AnyConv.com__Montserrat-Medium.woff2")
      format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/AnyConv.com__Montserrat-SemiBold.woff")
      format("woff"),
    url("../fonts/Montserrat/AnyConv.com__Montserrat-SemiBold.woff2")
      format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/AnyConv.com__Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik/AnyConv.com__Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/AnyConv.com__Rubik-Medium.woff") format("woff"),
    url("../fonts/Rubik/AnyConv.com__Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/AnyConv.com__Rubik-Bold.woff") format("woff"),
    url("../fonts/Rubik/AnyConv.com__Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
}
